* {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
}

h1 {
    font-size: 42px;
}

h3 {
    margin: 0;
    font-size: 60px;
}

html, body {
    margin: 0;
    height: 100%;  
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    background-image: url(../imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    filter: blur(0);
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section {
    width: 100%;
}


.panel {
    display: grid;
    align-items: center;
    width: 80%;
    height: 70%;
    min-height: 400px;
    min-width: 560px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #eeeeeee3;
    border-radius: 5px;
    box-shadow: #13121238 1px 1px 10px;
}

.panel .stats {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.panel .operations {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    font-size: 32px;
}

.panel .operations [data-prefix="fa"] {
    transition: .25s ease-in-out;
    cursor: pointer;
    color: #949494;
}

.panel .operations [data-prefix="fa"]:hover,.panel .operations .active {
    transform: scale(1.1);
    color: #40b19e;
}

@media (max-width: 768px) {
    .panel {
        width: 90%;
    }

    .form {
        width: 90%;
    }
}

@media (min-width: 1280px) {
    .panel {
        width: 60%;
    }

    .form {
        width: 60%;
    }
}

.text-center {
    text-align: center;
}